@page

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-danger">
                    <input type="checkbox" id="cbLiveView" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
            </div>
            <h4 id="lblLiveView">Turn on live view</h4>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon">Invoke Command</span>
                <input id="messageInput" type="text" class="form-control" name="msg" placeholder="">
                <div class="input-group-btn">
                    <input type="button" class="btn btn-primary" id="sendButton" value="Go" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <canvas id="chart"></canvas>
        </div>
        <div class="col-xs-6">
            <div id="messagesList">

            </div>
            @*<div class="badger-left" data-badger="Badger default (left)">Block with badger 1</div>
                <div class="badger-right badger-info" data-badger="Badger info (right)">Block with badger 2</div>
                <div class="badger-left badger-danger" data-badger="Badger danger (left)">Block with badger 3</div>
                <div class="badger-right badger-warning" data-badger="Badger warning (right)">Block with badger 4</div>
                <div class="badger-left badger-success" data-badger="Badger success (left)">Block with badger 5</div>
                <div class="badger-right badger-inverse" data-badger="Badger inverse (right)">Block with badger 6</div>*@
           @* <ul id="messagesList" class="list-group"></ul>*@
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/dist/indexPages.js" asp-append-version="true"></script>
}